body{
    margin: 0;
    padding: 0;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-grow: 1;
}

h1{
    margin: 0;

    background-color: black;
    color: white;

    font-size: 3.5em;
    text-align: center;
}

h2{
    margin: 0;
    color: black;

    font-size: 2em;
    text-align: left;
}

h3{
    font-size: 1em;
}

hr{
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
}

hr:after{
    background:#DCDCDC;
    position: relative;
    top: -13px;
}

.nav{
    background-color:#DCDCDC;
}

aside{
    border-style: none;
    background-color:#DCDCDC;

    width: 250px;
}

section{
    padding: 15px;
}
img{
    float: left;
}

.text{
    float : left;
    line-height:20px;
    margin-left : 10px;
    margin-top : 10px;
}


.product,.order_item{
    margin: 10px;
    height : 170px;
}

a:hover{
    background-color:#DCDCDC;
}

.create-address{

    float : left;
    line-height:20px;
    margin-left : 10px;
    margin-top : 10px;
}

.form-control-lg{
    margin : 10px 0;
    margin-left: 30px;
}

.cheque{
    float:left;
    margin-top : -80px;
    margin-left: 30px;
}

.payment{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align : left;
}

